<div class="form-group dropdown-wrapper">
  <select name="sura" class="form-control" *ngIf="suraList" #surah (change)="onSuraChanged($event.target.value)">
    <option value="">Surahs</option>
    <option value="{{quranService.twoPagesMode? sura.startpage -1 : sura.startpage}}" *ngFor="let sura of suraList">{{sura.tname}} - {{sura.name}}
    </option>
  </select>

  <select class="select form-control" name="juz" (change)="onSuraChanged($event.target.value)">
    <option value="">Juz list</option>
    <option value="1">Juz 1</option>
    <option value="22">Juz 2</option>
    <option value="42">Juz 3</option>
    <option value="62">Juz 4</option>
    <option value="82">Juz 5</option>
    <option value="102">Juz 6</option>
    <option value="121">Juz 7</option>
    <option value="142">Juz 8</option>
    <option value="162">Juz 9</option>
    <option value="182">Juz 10</option>
    <option value="201">Juz 11</option>
    <option value="222">Juz 12</option>
    <option value="242">Juz 13</option>
    <option value="262">Juz 14</option>
    <option value="282">Juz 15</option>
    <option value="302">Juz 16</option>
    <option value="322">Juz 17</option>
    <option value="342">Juz 18</option>
    <option value="362">Juz 19</option>
    <option value="382">Juz 20</option>
    <option value="402">Juz 21</option>
    <option value="422">Juz 22</option>
    <option value="442">Juz 23</option>
    <option value="462">Juz 24</option>
    <option value="482">Juz 25</option>
    <option value="502">Juz 26</option>
    <option value="522">Juz 27</option>
    <option value="542">Juz 28</option>
    <option value="562">Juz 29</option>
    <option value="582">Juz 30</option>
  </select>

  <select class="select form-control" name="readmode" (change)="onReadModeChanged($event.target.value)">
    <option value="">Read mode</option>
    <option value="2">Two pages</option>
    <option value="1">One page</option>
    <option value="3">Translate page</option>
  </select>

  <select class="select form-control" name="qari" (change)="onQariChanged($event.target.value)">
    <option value="https://dl.salamquran.com/ayat/afasy-murattal-192/">Mishary Afasy</option>
    <option value="https://dl.salamquran.com/ayat/muhammad_jibreel-murattal-32/">Muhammad Jibreel</option>
    <option value="https://dl.salamquran.com/ayat/minshawi-murattal-32/">Minshawi</option>
    <option value="https://dl.salamquran.com/ayat/minshawi-withchild-32/">Minshawi-with child</option>
    <option value="https://dl.salamquran.com/ayat/minshawi-mujawwad-32/">Minshawi-mujawwad</option>
    <option value="https://dl.salamquran.com/ayat/husary-murattal-32/">Husary</option>
    <option value="https://dl.salamquran.com/ayat/husary-mujawwad-32/">Husary-mujawwad</option>
    <option value="https://dl.salamquran.com/ayat/husary-muallim-16/">Husary-muallim</option>
    <option value="https://dl.salamquran.com/ayat/abdulbasit-murattal-32/">Abdulbasit</option>
    <option value="https://dl.salamquran.com/ayat/rifai-murattal-32/">Rifai</option>
    <option value="https://dl.salamquran.com/ayat/sahih_international.en.ibrahim_walk-translation-32/">en.ibrahim_walk-translation</option>
    <option value="https://dl.salamquran.com/ayat/saeediyan-murattal-16/">Saeediyan</option>
    <option value="https://dl.salamquran.com/ayat/sabzali-murattal-32/">Sabzali</option>
    <option value="https://dl.salamquran.com/ayat/parhizgar-murattal-48/">Parhizgar</option>
    <option value="https://dl.salamquran.com/ayat/makarem.fa.kabiri-translation-16/">makarem.fa.kabiri-translation</option>
    <option value="https://dl.salamquran.com/ayat/khalafi-murattal-192/">Khalafi</option>
    
  </select>

  <input placeholder="Type page number"  type="text" class="form-control" (input)="onSuraChanged($event.target.value)">
<button class="btn btn-info" (click)="quranService.bookmarkCurrentPage()">Bookmark page</button>
</div>