<main>
  <div class="btn-wrapper">
    <button class="btn btn-info" (click)="ruqya = true; zikr = false">Rukja</button>
    <button class="btn btn-danger" (click)="zikr = true; ruqya = false">Jutarnji i večernji zikr</button>
    <button class="btn btn-warning" (click)="ruqya = false; zikr = false; quran = true">Kur'an</button>
  </div>

  <ng-container *ngIf="ruqya">
    <div class="btn-wrapper">
      <button class="btn btn-info" (click)="shortVersion = !shortVersion; zikr = false">{{shortVersion?'Prebaci se na Dugu verziju':'Prebaci se na Kratku verziju'}}</button>
    </div>
  <ng-container *ngIf="shortVersion && !zikr">
  <h1>Kraća verzija</h1>
  
  <h2>sura Fatiha</h2>
  <img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/1/1" alt="">
  <img class="ayat-img" (click)="playAyat(1,2)" src="http://cdn.alquran.cloud/media/image/1/2" alt="">
  <img class="ayat-img" (click)="playAyat(1,3)" src="http://cdn.alquran.cloud/media/image/1/3" alt="">
  <img class="ayat-img" (click)="playAyat(1,4)" src="http://cdn.alquran.cloud/media/image/1/4" alt="">
  <img class="ayat-img" (click)="playAyat(1,5)" src="http://cdn.alquran.cloud/media/image/1/5" alt="">
  <img class="ayat-img" (click)="playAyat(1,6)" src="http://cdn.alquran.cloud/media/image/1/6" alt="">
  <img class="ayat-img" (click)="playAyat(1,7)" src="http://cdn.alquran.cloud/media/image/1/7" alt="">

  <h2>sura El-Bekare - Ajetul-kursija (255)</h2>
  <img class="ayat-img" (click)="playAyat(2,255)" src="http://cdn.alquran.cloud/media/image/2/255" alt="sura El-Bekare (255)">

  <h2>sura El-Bekare - Zadnja dva ajeta (285, 286)</h2>
  <img class="ayat-img" (click)="playAyat(2,285)" src="http://cdn.alquran.cloud/media/image/2/285" alt="sura El-Bekare (285)">
  <img class="ayat-img" (click)="playAyat(2,286)" src="http://cdn.alquran.cloud/media/image/2/286" alt="sura El-Bekare (286)">

  <h2>sura El-Ihlas</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/112/1" alt="El-Ihlas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/112/2" alt="El-Ihlas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/112/3" alt="El-Ihlas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/112/4" alt="El-Ihlas">

<h2>sura El-Felek</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/1" alt="El-Felek">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/2" alt="El-Felek">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/3" alt="El-Felek">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/4" alt="El-Felek">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/5" alt="El-Felek">

<h2>sura En-Nas</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/1" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/2" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/3" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/4" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/5" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/6" alt="En-Nas">
</ng-container>

<ng-container *ngIf="!shortVersion && !zikr">
  <h1>Duža verzija</h1>

  <h2>sura El-Bekare (102)</h2>
  <!--sura El-Bekare (102)-->
  <img class="ayat-img" (click)="playAyat(2,102)" src="http://cdn.alquran.cloud/media/image/2/102" alt="sura El-Bekare (102)">

  <h2>sura El-Bekare (109)</h2>
  <!--sura El-Bekare (109)-->
  <img class="ayat-img" (click)="playAyat(2,109)" src="http://cdn.alquran.cloud/media/image/2/109" alt="sura El-Bekare (109)">

  <h2>sura El-Bekare (163-164)</h2>
  <!--sura El-Bekare (163)-->
  <img class="ayat-img" (click)="playAyat(2,163)" src="http://cdn.alquran.cloud/media/image/2/163" alt="sura El-Bekare (163)">

  <!--sura El-Bekare (164)-->
  <img class="ayat-img" (click)="playAyat(2,164)" src="http://cdn.alquran.cloud/media/image/2/164" alt="sura El-Bekare (164)">

  <h2>sura El-Bekare (222)</h2>
  <!--sura El-Bekare (222)-->
  <img class="ayat-img" (click)="playAyat(2,222)" src="http://cdn.alquran.cloud/media/image/2/222" alt="sura El-Bekare (222)">

  <h2>sura El-Bekare (255)</h2>
  <img class="ayat-img" (click)="playAyat(2,255)" src="http://cdn.alquran.cloud/media/image/2/255" alt="sura El-Bekare (255)">

  <h2>sura El-Bekare (266)</h2>
  <img class="ayat-img" (click)="playAyat(2,266)" src="http://cdn.alquran.cloud/media/image/2/266" alt="sura El-Bekare (266)">

  
  <h2>sura El-Bekare (285 - 286)</h2>
  <img class="ayat-img" (click)="playAyat(2,285)" src="http://cdn.alquran.cloud/media/image/2/285" alt="sura El-Bekare (285)">
  <img class="ayat-img" (click)="playAyat(2,286)" src="http://cdn.alquran.cloud/media/image/2/286" alt="sura El-Bekare (286)">

  <h2>sura Ali Imran (18-19)</h2>
  <img class="ayat-img" (click)="playAyat(3,18)" src="http://cdn.alquran.cloud/media/image/3/18" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,19)" src="http://cdn.alquran.cloud/media/image/3/19" alt="sura Ali Imran">

  <h2>sura Ali Imran (26-27)</h2>
  <img class="ayat-img" (click)="playAyat(3,26)" src="http://cdn.alquran.cloud/media/image/3/26" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,27)" src="http://cdn.alquran.cloud/media/image/3/27" alt="sura Ali Imran">

  <h2>sura Ali Imran (190-200)</h2>
  <img class="ayat-img" (click)="playAyat(3,190)" src="http://cdn.alquran.cloud/media/image/3/190" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,191)" src="http://cdn.alquran.cloud/media/image/3/191" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,192)" src="http://cdn.alquran.cloud/media/image/3/192" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,193)" src="http://cdn.alquran.cloud/media/image/3/193" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,194)" src="http://cdn.alquran.cloud/media/image/3/194" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,195)" src="http://cdn.alquran.cloud/media/image/3/195" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,196)" src="http://cdn.alquran.cloud/media/image/3/196" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,197)" src="http://cdn.alquran.cloud/media/image/3/197" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,198)" src="http://cdn.alquran.cloud/media/image/3/198" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,199)" src="http://cdn.alquran.cloud/media/image/3/199" alt="sura Ali Imran">
  <img class="ayat-img" (click)="playAyat(3,200)" src="http://cdn.alquran.cloud/media/image/3/200" alt="sura Ali Imran">

  <h2>sura En-Nisa (54)</h2>
  <img class="ayat-img" (click)="playAyat(4,54)" src="http://cdn.alquran.cloud/media/image/4/54" alt="sura En-Nisa">

  <h2>sura En-Nisa (56)</h2>
  <img class="ayat-img" (click)="playAyat(4,56)" src="http://cdn.alquran.cloud/media/image/4/56" alt="sura En-Nisa">

  <h2>sura En-Nisa (168-169)</h2>
  <img class="ayat-img" (click)="playAyat(4,168)" src="http://cdn.alquran.cloud/media/image/4/168" alt="sura En-Nisa">
  <img class="ayat-img" (click)="playAyat(4,169)" src="http://cdn.alquran.cloud/media/image/4/169" alt="sura En-Nisa">

  <h2>sura El-E'araf (54)</h2>
  <img class="ayat-img" (click)="playAyat(7,54)" src="http://cdn.alquran.cloud/media/image/7/54" alt="sura El-E'araf">

  <h2>sura El-E'araf (179)</h2>
  <img class="ayat-img" (click)="playAyat(7,179)" src="http://cdn.alquran.cloud/media/image/7/179" alt="sura El-E'araf">

  <h2>sura El-Enfal (50-51)</h2>
  <img class="ayat-img" (click)="playAyat(8,50)" src="http://cdn.alquran.cloud/media/image/8/50" alt="sura El-Enfal">
  <img class="ayat-img" (click)="playAyat(8,51)" src="http://cdn.alquran.cloud/media/image/8/51" alt="sura El-Enfal">

  <h2>sura Ibrahim (15-17)</h2>
  <img class="ayat-img" (click)="playAyat(14,15)" src="http://cdn.alquran.cloud/media/image/14/15" alt="sura Ibrahim">
  <img class="ayat-img" (click)="playAyat(14,16)" src="http://cdn.alquran.cloud/media/image/14/16" alt="sura Ibrahim">
  <img class="ayat-img" (click)="playAyat(14,17)" src="http://cdn.alquran.cloud/media/image/14/17" alt="sura Ibrahim">


<h2>sura Ibrahim (42-52)</h2>
<img class="ayat-img" (click)="playAyat(14,42)" src="http://cdn.alquran.cloud/media/image/14/42" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,43)" src="http://cdn.alquran.cloud/media/image/14/43" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,44)" src="http://cdn.alquran.cloud/media/image/14/44" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,45)" src="http://cdn.alquran.cloud/media/image/14/45" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,46)" src="http://cdn.alquran.cloud/media/image/14/46" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,47)" src="http://cdn.alquran.cloud/media/image/14/47" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,48)" src="http://cdn.alquran.cloud/media/image/14/48" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,49)" src="http://cdn.alquran.cloud/media/image/14/49" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,50)" src="http://cdn.alquran.cloud/media/image/14/50" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,51)" src="http://cdn.alquran.cloud/media/image/14/51" alt="sura Ibrahim">
<img class="ayat-img" (click)="playAyat(14,52)" src="http://cdn.alquran.cloud/media/image/14/52" alt="sura Ibrahim">

<h2>sura El-Isra’ (81-82)</h2>
<img class="ayat-img" (click)="playAyat(17,81)" src="http://cdn.alquran.cloud/media/image/17/81" alt="sura El-Isra’">
<img class="ayat-img" (click)="playAyat(17,82)" src="http://cdn.alquran.cloud/media/image/17/82" alt="sura El-Isra’">

<h2>sura El-Kehf (39-41)</h2>
<img class="ayat-img" (click)="playAyat(18,39)" src="http://cdn.alquran.cloud/media/image/18/39" alt="sura El-Kehf">
<img class="ayat-img" (click)="playAyat(18,40)" src="http://cdn.alquran.cloud/media/image/18/40" alt="sura El-Kehf">
<img class="ayat-img" (click)="playAyat(18,41)" src="http://cdn.alquran.cloud/media/image/18/41" alt="sura El-Kehf">

<h2>sura Merjem (68-72)</h2>
<img class="ayat-img" (click)="playAyat(19,68)" src="http://cdn.alquran.cloud/media/image/19/68" alt="sura Merjem">
<img class="ayat-img" (click)="playAyat(19,69)" src="http://cdn.alquran.cloud/media/image/19/69" alt="sura Merjem">
<img class="ayat-img" (click)="playAyat(19,70)" src="http://cdn.alquran.cloud/media/image/19/70" alt="sura Merjem">
<img class="ayat-img" (click)="playAyat(19,71)" src="http://cdn.alquran.cloud/media/image/19/71" alt="sura Merjem">
<img class="ayat-img" (click)="playAyat(19,72)" src="http://cdn.alquran.cloud/media/image/19/72" alt="sura Merjem">

<h2>sura El-Hadždž (19-22)</h2>
<img class="ayat-img" (click)="playAyat(22,19)" src="http://cdn.alquran.cloud/media/image/22/19" alt="sura El-Hadždž">
<img class="ayat-img" (click)="playAyat(22,20)" src="http://cdn.alquran.cloud/media/image/22/20" alt="sura El-Hadždž">
<img class="ayat-img" (click)="playAyat(22,21)" src="http://cdn.alquran.cloud/media/image/22/21" alt="sura El-Hadždž">
<img class="ayat-img" (click)="playAyat(22,22)" src="http://cdn.alquran.cloud/media/image/22/22" alt="sura El-Hadždž">

<h2>sura El-Mu'minun (97-108)</h2>
<img class="ayat-img" (click)="playAyat(23,97)" src="http://cdn.alquran.cloud/media/image/23/97" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,98)" src="http://cdn.alquran.cloud/media/image/23/98" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,99)" src="http://cdn.alquran.cloud/media/image/23/99" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,100)" src="http://cdn.alquran.cloud/media/image/23/100" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,101)" src="http://cdn.alquran.cloud/media/image/23/101" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,102)" src="http://cdn.alquran.cloud/media/image/23/102" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,103)" src="http://cdn.alquran.cloud/media/image/23/103" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,104)" src="http://cdn.alquran.cloud/media/image/23/104" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,105)" src="http://cdn.alquran.cloud/media/image/23/105" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,106)" src="http://cdn.alquran.cloud/media/image/23/106" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,107)" src="http://cdn.alquran.cloud/media/image/23/107" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,108)" src="http://cdn.alquran.cloud/media/image/23/108" alt="sura El-Mu'minun">

<h2>sura El-Mu'minun (115-116)</h2>
<img class="ayat-img" (click)="playAyat(23,115)" src="http://cdn.alquran.cloud/media/image/23/115" alt="sura El-Mu'minun">
<img class="ayat-img" (click)="playAyat(23,116)" src="http://cdn.alquran.cloud/media/image/23/116" alt="sura El-Mu'minun">

<h2>sura En-Nur (35)</h2>
<img class="ayat-img" (click)="playAyat(24,35)" src="http://cdn.alquran.cloud/media/image/24/35" alt="sura En-Nur">

<h2>sura Jasin (1-12)</h2>
<img class="ayat-img" (click)="playAyat(36,1)" src="http://cdn.alquran.cloud/media/image/36/1" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,2)" src="http://cdn.alquran.cloud/media/image/36/2" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,3)" src="http://cdn.alquran.cloud/media/image/36/3" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,4)" src="http://cdn.alquran.cloud/media/image/36/4" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,5)" src="http://cdn.alquran.cloud/media/image/36/5" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,6)" src="http://cdn.alquran.cloud/media/image/36/6" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,7)" src="http://cdn.alquran.cloud/media/image/36/7" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,8)" src="http://cdn.alquran.cloud/media/image/36/8" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,9)" src="http://cdn.alquran.cloud/media/image/36/9" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,10)" src="http://cdn.alquran.cloud/media/image/36/10" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,11)" src="http://cdn.alquran.cloud/media/image/36/11" alt="sura Jasin">
<img class="ayat-img" (click)="playAyat(36,12)" src="http://cdn.alquran.cloud/media/image/36/12" alt="sura Jasin">

<h2>sura Es-Saffat (1-10)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/1" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/2" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/3" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/4" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/5" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/6" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/7" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/8" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/9" alt="Es-Saffat">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/10" alt="Es-Saffat">

<h2>sura Es-Saffat (158)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/37/158" alt="Es-Saffat">

<h2>sura Ed-Duhan (43-49)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/44/43" alt="Ed-Duhan">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/44/44" alt="Ed-Duhan">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/44/45" alt="Ed-Duhan">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/44/46" alt="Ed-Duhan">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/44/47" alt="Ed-Duhan">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/44/48" alt="Ed-Duhan">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/44/49" alt="Ed-Duhan">

<h2>sura El-Ahkaf (29-32)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/46/29" alt="El-Ahkaf">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/46/30" alt="El-Ahkaf">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/46/31" alt="El-Ahkaf">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/46/32" alt="El-Ahkaf">

<h2>sura Muhammed (4)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/47/1" alt="Muhammed">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/47/2" alt="Muhammed">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/47/3" alt="Muhammed">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/47/4" alt="Muhammed">

<h2>sura El-Feth (29)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/48/29" alt="El-Feth">

<h2>sura Er-Rahman (1-13)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/1" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/2" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/3" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/4" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/5" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/6" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/7" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/8" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/9" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/10" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/11" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/12" alt="Er-Rahman">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/55/13" alt="Er-Rahman">

<h2>sura El-Vaki'a (41-56)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/41" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/42" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/43" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/44" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/45" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/46" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/47" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/48" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/49" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/50" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/51" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/52" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/53" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/54" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/55" alt="El-Vaki'a">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/56/56" alt="El-Vaki'a">

<h2>sura El-Hašr (21-24)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/59/21" alt="El-Hašr">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/59/22" alt="El-Hašr">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/59/23" alt="El-Hašr">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/59/24" alt="El-Hašr">

<h2>sura El-Kalem (51-52)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/68/51" alt="El-Hašr">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/68/52" alt="El-Hašr">

<h2>sura El-Hakka (19-37)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/19" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/20" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/21" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/22" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/23" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/24" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/25" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/26" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/27" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/28" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/29" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/30" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/31" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/32" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/33" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/34" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/35" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/36" alt="El-Hakka">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/69/37" alt="El-Hakka">

<h2>sura El-Džinn (1-11)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/1" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/2" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/3" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/4" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/5" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/6" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/7" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/8" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/9" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/10" alt="El-Džinn">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/72/11" alt="El-Džinn">

<h2>sura El-Burudž (10)</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/85/10" alt="El-Burudž">

<h2>sura Et-Tarik</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/1" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/2" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/3" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/4" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/5" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/6" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/7" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/8" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/9" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/10" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/11" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/12" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/13" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/14" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/15" alt="Et-Tarik">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/86/16" alt="Et-Tarik">

<h2>sura Ez-Zulzile</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/99/1" alt="Ez-Zulzile">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/99/2" alt="Ez-Zulzile">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/99/3" alt="Ez-Zulzile">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/99/4" alt="Ez-Zulzile">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/99/5" alt="Ez-Zulzile">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/99/6" alt="Ez-Zulzile">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/99/7" alt="Ez-Zulzile">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/99/8" alt="Ez-Zulzile">

<h2>sura El-Kafirun</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/109/1" alt="El-Kafirun">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/109/2" alt="El-Kafirun">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/109/3" alt="El-Kafirun">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/109/4" alt="El-Kafirun">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/109/5" alt="El-Kafirun">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/109/6" alt="El-Kafirun">

<h2>sura El-Ihlas</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/112/1" alt="El-Ihlas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/112/2" alt="El-Ihlas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/112/3" alt="El-Ihlas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/112/4" alt="El-Ihlas">

<h2>sura El-Felek</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/1" alt="El-Felek">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/2" alt="El-Felek">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/3" alt="El-Felek">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/4" alt="El-Felek">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/113/5" alt="El-Felek">

<h2>sura En-Nas</h2>
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/1" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/2" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/3" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/4" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/5" alt="En-Nas">
<img class="ayat-img" (click)="playAyat(1,1)" src="http://cdn.alquran.cloud/media/image/114/6" alt="En-Nas">

<ul>
  <li>Ovdje je bitno napomenuti nekoliko stvari:</li>
  <li>da se ne stvara posebno i pogrešno uvjerenje prema ovim ajetima mimo drugih iz Allahove knjige Kur'ana, jer je čitav Kur'an lijek i rukja,</li>
  <li>stvarni uticaj prilikom učenja ovih ajeta dolazi sa strane toga što se u ovim ajetima govori o tevhidu, iskrenosti, podsticanju na Allahovu milost i Njegov Džennet, i upozorenju na Njegovu srdžbu i kaznu,</li>
  <li>najbolje je učenje ovih ajeta redosljedom kako je gore navedeno, tj. kako je došlo u Kur'anu, o bitnosti ovoga su imami i učenjaci ovog Ummeta govorili,</li>
  <li>najpreča i najbolja rukja je ona koja je prenešena od Poslanika, sallallahu alejih ve sellem, poput rukje učenjem Fatihe, Bekare, Ajetul-kursija, zadnja dva ajeta Bekare, sure Ihlas, Felek i Nas.</li>
</ul>
</ng-container>
</ng-container>


<ng-container *ngIf="zikr">
  <iframe src="https://www.mojnamaz.com/jutarnji-vecernji-zikr.html"></iframe>
</ng-container>

<ng-container *ngIf="quran">
  <button class="btn" (click)="setRandomPage()">Random stranica</button>
  <div class="play-btn-wrapper">
    <ng-container *ngIf="audio" >
      <button *ngIf="audio.paused" class="btn" style="margin-right: 10px" (click)="resumeAudio()">Play</button>
      <button *ngIf="!audio.paused" class="btn" (click)="pauseAudio()">Pause</button>
    </ng-container>
  </div>
  
  <div class="main" *ngIf="quranService.words">
  
    <div style="margin-top: 30px;">
  <div style="display: flex; justify-content: center; align-items: center;">
    
    <div style="padding: 15px; border-radius: 5px; border: 1px solid #ced4da;     min-height: 933px;
    min-width: 690px;">
      <div dir="rtl" lang="ar" *ngFor="let item of quranService.words.result; let i = index">
        <section class="suraTitle" *ngIf="!item.word && item.detail.ayas">
          <img src="https://salamquran.com/static/images/quran/sura-header.svg" alt="Quran sura title">
          <h3>{{item.detail.name + ' - '+ item.detail.tname}}</h3>
        </section>
        
        <section class="bismillah" *ngIf="item.detail.line_type == 'besmellah' && quranService.words.result[1].detail.page != '187'">
          <div id="{{item.detail.page}}">﷽</div>
          <h4 class="ayeSimple">بسم الله الرحمن الرحیم</h4>
        </section>
  
        <div class="ayeLine" *ngIf="item.word">
          <ng-container *ngFor="let word of item.word">
  
            <i *ngIf="word.char_type != 'end'"
              class="{{word.class_name}} aya{{word.verse_key.replace(':', '-')}}"  id="w{{word.audio_key}}" [innerHtml]="word.code"
              (click)="playWord(word.audio)" ngbPopover="{{word.translation}}" triggers="mouseenter:mouseleave"></i>
  
              <i *ngIf="word.char_type == 'end'" class="{{word.class_name}} aya{{word.verse_key.replace(':', '-')}}"
                id="w{{word.audio_key}}" [innerHtml]="word.code" (click)="playAyat(word, word.aya, word.verse_key.replace(':', '-'))"
                (mouseover)="manageClassesOfAyats(word.verse_key, 'mouseover')"
                (mouseleave)="manageClassesOfAyats(word.verse_key, 'mouseleave')"
                ngbPopover="play {{word.aya}}. ayah" triggers="mouseenter:mouseleave"></i>
  
          </ng-container>
        </div>
      </div>
    </div>
    </div>
    
        <section class="suraTitle number">
          <img src="https://salamquran.com/static/images/quran/sura-header.svg" alt="Quran sura title">
          <h3>      <input value="{{quranService.currentPage}}"  type="text" class="form-control" (input)="onSuraChanged($event.target.value)">
          </h3>
          <button class="btn next" (click)="changePage(quranService.currentPage + 1)"><</button>
          <button class="btn prev" [disabled]="quranService.currentPage == 1" (click)="changePage(quranService.currentPage - 1)">></button>
        </section>
    </div>
  </div>
</ng-container>
</main>