.main {
  text-align: center;
  max-height: 97vh;
  overflow-y: auto;

  .ayat-img {
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      filter: sepia(1);
      filter: drop-shadow(0px 0px 6px rgba(252, 252, 0, 0.705));
    }
  }
}
.quran {
  h1,
  span {
  font-family: "p3-v1";
  }

  span{
    transition: all 0.3s;
    &:hover{
      color: red;
      cursor: pointer;
    }
  }
}

.arabic{
  font-family: "p2-v1";

}

@font-face {
  font-family: 'p2-v1'; //p2 JE PAGE 2
  src: local(QCF_P002),
  url('https://cdn.qurancdn.com/assets/quran_fonts/v1/woff2/p2-b98090bbe648e369732764351f07e06f22f9bfca10ebfc7653d8d195a87c3961.woff2') format('woff2'),
  url('https://cdn.qurancdn.com/assets/quran_fonts/v1/woff/p2-605d059d30a0a0d674aca15b0ecf2ca2e56f49c3d6dafa15ad49445113f1d7e5.woff') format('woff'),
  url('https://cdn.qurancdn.com/assets/quran_fonts/v1/ttf/p2-f7fc41791b5bf747eea1913461ec497050b699401f9e8879d7bbba57c20041ac.ttf') format('truetype');
  font-display: swap;
}
