<div class="main" *ngIf="words">

  <div class="form-group">
    <select name="sura" *ngIf="chapters" #surah (change)="onSuraChanged($event.target.value)">
      <option value="{{sura.id}}" *ngFor="let sura of chapters.chapters">{{sura.name_simple}} - {{sura.name_arabic}}
      </option>
    </select>

    <select class="select" name="juz" (change)="onSuraChanged($event.target.value)">
      <option value="">Juz list</option>
      <option value="1">Juz 1</option>
      <option value="22">Juz 2</option>
      <option value="42">Juz 3</option>
      <option value="62">Juz 4</option>
      <option value="82">Juz 5</option>
      <option value="102">Juz 6</option>
      <option value="121">Juz 7</option>
      <option value="142">Juz 8</option>
      <option value="162">Juz 9</option>
      <option value="182">Juz 10</option>
      <option value="201">Juz 11</option>
      <option value="222">Juz 12</option>
      <option value="242">Juz 13</option>
      <option value="262">Juz 14</option>
      <option value="282">Juz 15</option>
      <option value="302">Juz 16</option>
      <option value="322">Juz 17</option>
      <option value="342">Juz 18</option>
      <option value="362">Juz 19</option>
      <option value="382">Juz 20</option>
      <option value="402">Juz 21</option>
      <option value="422">Juz 22</option>
      <option value="442">Juz 23</option>
      <option value="462">Juz 24</option>
      <option value="482">Juz 25</option>
      <option value="502">Juz 26</option>
      <option value="522">Juz 27</option>
      <option value="542">Juz 28</option>
      <option value="562">Juz 29</option>
      <option value="582">Juz 30</option>
    </select>

    <div class="form-group" style="display: inline;">
      <label>Upisite broj stranice</label>
      <input style="width: 100px; margin: 0 auto; display: inline;" type="text" class="form-control" (input)="onSuraChanged($event.target.value)">
    </div>
    
  </div>
  <div dir="rtl" lang="ar">

    <ng-container *ngFor="let item of words.result; let i = index">
      <section class="suraTitle" *ngIf="!item.word && item.detail.ayas">
        <img src="https://salamquran.com/static/images/quran/sura-header.svg" alt="Quran sura title">
        <h3>{{setSuraTitle(item.detail.name + ' - '+ item.detail.tname)}}</h3>
      </section>

      <div class="ayeLine" *ngIf="item.word">
        <ng-container *ngFor="let word of item.word">

          <i *ngIf="word.char_type != 'end'"
            class="{{word.class_name}} aya{{word.verse_key.replace(':', '-')}}"  id="w{{word.audio_key}}" [innerHtml]="word.code"
            (click)="playWord(word.audio)" ngbPopover="{{word.translation}}" triggers="mouseenter:mouseleave"></i>

            <i *ngIf="word.char_type == 'end'" class="{{word.class_name}} aya{{word.verse_key.replace(':', '-')}}"
              id="w{{word.audio_key}}" [innerHtml]="word.code" (click)="playAyat(word, word.aya, word.verse_key.replace(':', '-'))"
              (mouseover)="manageClassesOfAyats(word.verse_key, 'mouseover')"
              (mouseleave)="manageClassesOfAyats(word.verse_key, 'mouseleave')"
              ngbPopover="play {{word.aya}}. ayah" triggers="mouseenter:mouseleave"></i>

        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="indicators">
    <button class="btn next" (click)="changePage(page + 1)">Next {{page + 1}}</button>
    <button class="btn prev" [disabled]="page == 1" (click)="changePage(page - 1)">Previous {{page - 1}}</button>
  </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>>