<div class="main">

  <div class="form-group">
    <select name="sura" *ngIf="chapters" #surah (change)="onSuraChanged($event.target.value)">
      <option value="{{sura.id}}" *ngFor="let sura of chapters.chapters">{{sura.name_simple}} - {{sura.name_arabic}}</option>
    </select>
  </div>

  <div  dir="rtl" lang="ar">
  
    <ng-container *ngFor="let item of words.result; let i = index">
    <section class="suraTitle" *ngIf="i == 0">
      <img src="https://salamquran.com/static/images/quran/sura-header.svg" alt="Quran sura title">
      <h3>{{item.detail.name}} - <span>{{item.detail.tname}}</span></h3>
    </section>
  
    <div class="ayeLine" *ngIf="item.word">
      <i class="{{word.class_name}}" *ngFor="let word of item.word" data-i="{{word.id}}" id="w{{word.audio_key}}" [innerHtml]="word.code"
      (click)="playAudio(word.audio)" ngbPopover="{{word.translation}}" triggers="mouseenter:mouseleave"></i>
    </div>
  </ng-container>
  </div>
</div>