<div class="main">

  <div class="form-group">
    <select name="sura" *ngIf="chapters" #surah (change)="onSuraChanged($event.target.value)">
      <option value="{{sura.verses_count}}|{{sura.id}}" *ngFor="let sura of chapters.chapters">{{sura.name_simple}} - {{sura.name_arabic}}</option>
    </select>
  </div>

  <ng-container *ngIf="chapterWords">
    <div class="quran">
      <h1 *ngFor="let verse of chapterWords.verses">
        <img src="assets/images/play.png" alt="play" (click)="playAudio(verse.audio.url)">
        <span *ngFor="let word of verse.words" (click)="playAudio(word.audio_url)" ngbPopover="{{word.translation.text}}" triggers="mouseenter:mouseleave">
          {{word.code_v1}}
        </span>
      </h1>
    </div>
  </ng-container>


</div>