
<main>
  <button class="btn btn-danger" (click)="finsihTest()" *ngIf="isTestInProgress">Finish test</button>

<app-loader *ngIf="!isDataLoaded"></app-loader>

<div class="question" *ngIf="isTestInProgress">
  <p style="font-family: 'me-quran';" [class.correctAnswer]="isCurrentQuestionCorrect && showSpeechData" [class.wrongAnswer]="!isCurrentQuestionCorrect && showSpeechData"> {{currentAyat}}. {{ayat}}</p>
  <!--<img class="ayat-img" [class.correctAnswer]="isCurrentQuestionCorrect && showSpeechData" [class.wrongAnswer]="!isCurrentQuestionCorrect && showSpeechData" src="http://cdn.alquran.cloud/media/image/{{currentSura}}/{{currentAyat}}" alt="">-->
</div>

<div *ngIf="showSpeechData && !showResults && !isCurrentQuestionCorrect" style="text-align: center;">
  <p style="font-size:40px; text-align: center; font-family: 'me-quran';">Izgovorili ste: {{speechData}}</p>
  <button style="margin-right: 5px;" class="btn btn-warning" (click)="repeatAyat()">Ponovi ajet</button>
  <button class="btn btn-success" (click)="nextAyat()">Sljedeći ajet</button>
</div>

<div class="results" *ngIf="showResults && !isTestInProgress">
  <p>Your score is {{correctAnswers}}/{{questionCounter}}</p>
<p><ngb-progressbar type="success" [value]="correctAnswers" [max]="questionCounter"></ngb-progressbar></p>

</div>

<!-- new test form-->
<ng-container>
  <div class="container test-container" *ngIf="!isTestInProgress && isDataLoaded">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form #postForm="ngForm" (ngSubmit)="onFormSubmit(postForm.value)">

          <div class="form-group">
            <select name="sura" *ngIf="listOfSura" ngModel required>
              <option [ngValue]="sura" *ngFor="let sura of listOfSura">{{sura.tname}}</option>
            </select>
          </div>
  
          <div class="form-group">
            <input
              type="number"
              min="1"
              class="form-control"
              id="title"
              ngModel
              required
              name="ayat"
              placeholder="Broj ajeta"
            />
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!postForm.valid"
          >
            Start Test
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showResults && !isTestInProgress">
  <div class="wrongAnswers" *ngIf="wrongAnswersArray.length > 0">
    <h1>Netačni odgovori</h1>
    <div *ngFor="let wrongAnswer of wrongAnswersArray">
      <p>{{wrongAnswer}}</p>
    </div>
  </div>
</ng-container>

</main>


