.correctAnswer,
.wrongAnswer {
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.correctAnswer,
.correctAnswers {
  color: limegreen;
}

.wrongAnswers,.wrongAnswer {
  color: red;
}


.results {
  font-size: 50px;
  text-align: center;
}

.correctAnswers,
.wrongAnswers {
  text-align: center;
  padding: 10px;

  p{
    font-size: 30px;
    font-family: auto;
  }
}

.question {
  text-align: center;
  font-family: auto;
  font-size: 60px;
}

.test-container {
  text-align: center;
  .row{
   justify-content: center;

    form {
      text-align: center;
      padding: 20px;
      border: 1px solid lightgray;
      border-radius: 5px;
      background: #040b14c9;
  
      input{
        width:40%;
        margin:0 auto;
      }
  
      select{
        text-align-last: center;
      }
    }
  }

}

main{
  height: 100vh;
  overflow-y: auto;

  &.correctAnswer{
    background-color: lime;
  }

  &.wrongAnswer{
    background-color: red;
  }
}

.ayat-img{
  &.active{
    filter: drop-shadow(0px 0px 15px black);
  }

  &.correctAnswer{
    filter: drop-shadow(0px 0px 8px lime)
  }

  &.wrongAnswer{
    filter: drop-shadow(0px 0px 8px red)
  }
}