/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background: #f5f8fd;
}

.section-title h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 7px;
  position: relative;
  display: inline-block;
  color: #173b6c;
}

.section-title p {
  margin-bottom: 0;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'me-quran';
  src: 
  url('assets/quran_fonts/me_quran/me_quran_volt_newmet.ttf') format('truetype');
  font-display: swap;
}
